
/ form method="post" action="/posts/#{@post.id}"
/ 		input name="_method" type="hidden" value="delete"
/ 		button.btn.btn-danger.btn-small delete
/ 		button.btn.btn-success.btn-small color
/ 		small= @post.date
/ 		h1= @post.title
/ 		p= @post.body

		